{% extends 'main/base.html' %}
{% block content %}
{% include 'main/header.html'%}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="jumbotron">
        <h3 class="text-primary text-center mb-4">
          About MoneyManager
        </h3>
        <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi nemo vero aspernatur qui sint. Tempora eius odio excepturi laudantium, fugiat temporibus quasi ex est ipsam perferendis optio pariatur quaerat vel, veniam adipisci et rerum recusandae obcaecati. In repellendus, vitae aut enim nobis ad earum ea nemo laudantium dolore delectus magni. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur sequi necessitatibus impedit? Reprehenderit culpa itaque possimus aliquid minima vel eius adipisci laborum, deserunt quis praesentium laudantium, fugit aut. Voluptates debitis ipsum, beatae explicabo architecto totam magni quis minima veritatis dolor consequuntur. Dolore sapiente beatae porro, officia dolores vero commodi quia.</p>
      </div>
    </div>
  </div>
</div>
{% include 'main/footer.html' %}
{% endblock %}